* {
    margin: 0;
    padding: 0
}

html {
    font-size: 100px;
}

@mixin font1($size:.16rem) {
    font-size: $size;
}

// 
$wdith:100%;
a{
    cursor: pointer;
}
@mixin header($headerheight:.45rem) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $wdith;
    height: $headerheight;
    background-color: #5fc0cd;
    color: #ffffff;
}

//第一个页面header
.header1 {
    @include header;
    position: fixed;
    top: 0;
}

.headerback {
    position: absolute;
    left: .1rem;
    width: .085rem;
    height: .085rem;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transform: rotate(45deg);
}

.headertext {
    @include font1;
}

// 第二个页面header
.hedaer2 {
    position: fixed;
    top: 0;
    height: .85rem;
    @include font1;
}

@mixin button1 {
    display: inline-block;
    padding: 5px;
    border: none;
    outline: none;
    background-color: #55a8b3;
    color: #ffffff;
}

.header2_button {
    @include header;
}

.employerfinding {
    @include button1;
    border-radius: 5px 0 0 5px;
}

.nursefinding {
    @include button1;
    border-radius: 0 5px 5px 0;
}

.employerfinding:hover,
.nursefinding:hover {
    color: #55a8b3;
    background-color: #ffffff;
    border-radius: 5px;
}

.top-right {
    position: absolute;
    right: .15rem;
    width: .21rem;
    height: .22rem;
    background: url(image/dingwei1.png) no-repeat 0 0/cover;
}

.header2_select {
    display: flex;
    height: .4rem;
    border-bottom: 1px solid #e2eaec;
}
.gradientline{
    width: 1px;
    background: linear-gradient(#f9fafa,#e3e7e9,#f9fafa);
}
.select_location,
.select_eating,
.select_patient-situation {
    width: (100%/3);
    border: none;
    color: #a9a9a9;
    outline: none;
    text-align-last: center;
}

// 第一个页面main
.main1-background {
    display: flex;
    align-items: center;
    width: $wdith;
    margin-top: .45rem;
    height: 1.64rem;
    background: url(image/dabeijing.png) no-repeat 0 0/cover;
}

.main1-background-head {
    width: .845rem;
    height: .845rem;
    margin-left: .2rem;
    background: url(image/touxiang.png) no-repeat 0 0/.845rem .845rem;
}

.main1-background-text {
    height: .5rem;
    width: 2rem;
    margin-left: .2rem;
    color: #ffffff;
}

.main1-background-text1 {
    display: flex;
}

.name {
    @include font1(.17rem);
}

.old {
    margin-left: .1rem;
    @include font1(.14rem);
    line-height: .23rem;
}

.address {
    padding-left: .15rem;
    margin-top: .1rem;
    @include font1(.12rem);
    background: url(image/dingwei.png) no-repeat .015rem .025rem/.09rem .115rem;
}

.main1-content {
    @include font1(.15rem);
    list-style-type: none;
}

.no1 {
    border-left: 2px solid #5fc0cd;
    margin: .2rem 0 .15rem .17rem;
    line-height: 90%;
    @include font1;
}

.no21 {
    padding: 0 .05rem 0 .2rem;
    line-height: 90%;
    border-right: 1px solid #e1e5e7;
    background: url(image/xingxing.png) no-repeat .03rem .025rem/.15rem .145rem;
}

.no22 {
    @extend .no21;
    border: none;
}

.no2,
.no3,
.no4,
.no5 {
    margin-left: 17px;
    padding: 17px 0px 17px 0px;
    border-bottom: 1px solid #e1e5e7;
}

.no6 {
    display: flex;
    align-items: center;
    padding: 17px;
    border-bottom: 1px solid #e1e5e7;
}

.no31,
.no41,
.no51,
.no61 {
    border-right: 1px solid #e1e5e7;
    color: #999999;
    padding-right: 12px;
    line-height: 90%;
    margin-left: 15px;
}

.no61 {
    white-space: nowrap;

}

.no32,
.no42,
.no52 {
    margin-left: 12px;
}

.no52 {
    color: red;
}

.no62 {
    margin-left: 17px;
}

// 第二个页面main
.main2_content {
    display: flex;
    justify-content: center;
    height: .9rem;
    border-bottom: 1px solid #e1e5e7;
    white-space: nowrap;
}

.main2_contentleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 1.4rem);
    margin-left: .15rem;
}

.main2_contentleft_date {
    padding-left: .2rem;
    @include font1(.13rem);
    background: url(image/date.png) no-repeat 0.01rem 0.02rem/.13rem .13rem;
    color: #999999;
}

.main2_contentleft_time {
    @include font1(.15rem);
    margin: .05rem 0 .05rem .2rem;
    overflow: hidden;
    text-overflow: ellipsis;
font-weight: 600;
}

.main2_contentleft_location {
    @extend .main2_contentleft_date;
    background: url(image/dingwei2.png) no-repeat 0.02rem 0.03rem/.1rem .12rem;
}

.main2_contentright {
    width: 1.4rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.salary {
    margin: 0 .35rem 0 .35rem;
    @include font1(.13rem);
    color: red;font-weight: 600;
}

.forword {
    position: absolute;
    right: 12px;
    width: 12px;
    height: 12px;
    border-top: 2px solid #5fc0cd;
    border-right: 2px solid #5fc0cd;
    transform: rotate(45deg);
}

// footer
// 第一个页面
@mixin footer($height:.6rem) {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $height;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer1 {
    @include footer;
    @include font1;
}

@mixin button2 {
    height: 42px;
    width: 43%;
    border-radius: 4px;
    outline: none;
    border: 2px solid #5fc0cd;
}

.message {
    @include button2;
    background-color: #ffffff;
    color: #5fc0cd;
}

.telephone {
    @include button2;
    background-color: #5fc0cd;
    color: #ffffff;
    border-color: #ffffff;
}

// 第二个页面
.footer2 {
    @include footer(.5rem);
    @include font1(.1rem);
    background-color: #f8fafb;
}

.home {
    margin:0 0 0 .5rem;
    width: .23rem;
    padding-top: .26rem;
    background: url(image/home.png) no-repeat 0 0/.23rem .2rem;
    text-align: center;
}

.write {
    width: .47rem;
    height: .47rem;
    background: url(image/write.png) no-repeat 0 0/.47rem .47rem;
}

.head {
    @extend .home;
    margin:0 .5rem 0 0;
    background: url(image/head.png) no-repeat 0 0/.21rem .205rem;
}